.box{
    display: block;
    width: 800px;
    height: 360px;
    overflow: hidden;
}
ul{
    position: relative;
    display: block;
    width: 800px;
    height: 1080px;
    animation:myp 10s infinite linear;
}
@keyframes myp{
    33%{
        top: -360px;
    }
    44%{
        top: -360px;
    }
    66%{
        top: 0;
    }
    77%{
        top: 0;
    }
}
li{
    display: block;
    width: 800px;
    height: 360px;
}
li img{
    display: block;
    width: 800px;
    height: 360px;
}